<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="${novapdfTestAppId}">

    <application
        android:debuggable="true"
        tools:replace="android:debuggable" />

    <instrumentation
        android:name="dagger.hilt.android.testing.HiltTestRunner"
        android:targetPackage="${novapdfAppId}"
        android:targetProcesses="${novapdfAppId}"
        android:functionalTest="false"
        android:handleProfiling="false"
        android:label="Tests for ${novapdfAppId}">

        <meta-data
            android:name="novapdfTestAppId"
            android:value="${novapdfTestAppId}" />
    </instrumentation>
</manifest>
