*.iml
.gradle/
/local.properties
/.idea/
**/build/
.DS_Store
/build/
app/build/
.cxx/
captures/
.externalNativeBuild/
.idea/
*.apk
*.aab
*.keystore
*.jks
screenshots/
gradle/wrapper/gradle-wrapper.jar
